@import url("init.css");
@import url("basic.css");

#main {
    grid-template-columns: repeat(11,1fr) 4fr;
}
#screen {
    grid-column: 1/8;
}
#CE,
#C,
#erase,
#divide,
#sin,
#pow {
    grid-row: 2;
}

#num7,
#num8,
#num9,
#multiply,
#cos,
#fact {
    grid-row: 3;
}

#num4,
#num5,
#num6,
#minus,
#tan,
#sqrt {
    grid-row: 4;
}

#num1,
#num2,
#num3,
#plus,
#log,
#leftbr {
    grid-row: 5;
}

#left,
#right,
#scalex,
#suox {
    grid-row: 3/5;
}

#plusminus,
#num0,
#point,
#equal,
#exp,
#rightbr {
    grid-row: 6;
}

#up,
#down,
#scaley,
#suoy {
    grid-row: 5/7;
}

#CE,
#num7,
#num4,
#num1,
#plusminus {
    grid-column: 1;
}

#C,
#num8,
#num5,
#num2,
#num0 {
    grid-column: 2;
}

#erase,
#num9,
#num6,
#num3,
#point {
    grid-column: 3;
}

#sin,
#cos,
#tan,
#log,
#exp {
    grid-column: 4;
}

#pow,
#fact,
#sqrt,
#leftbr,
#rightbr {
    grid-column: 5;
}

#x {
    grid-column: 6;
    grid-row: 2/7;
}

#canv {
    grid-row: 1/3;
    grid-column: 8/12;
    margin: 10px;
    background-color: #ccc;
    border: 1px solid #bbb;
    box-shadow: 5px 5px 5px 0px #666;
}

#divide,
#multiply,
#minux,
#plus,
#equal {
    grid-column: 7;
}

#left,
#up {
    grid-column: 8;
}

#right,
#down {
    grid-column: 9;
}

#scalex,
#scaley {
    grid-column: 10;
}

#suox,
#suoy {
    grid-column: 11;
}

div.num {
    background-color: #c8c8c8;
}

#history {
    grid-row: 1/7;
    grid-column: 12;
}