@import url("init.css");
#main {
    padding: 0 1em;
    height: 100%;
    background-color: #e8e8e8;
    display: grid;
    grid-template-rows: 35% 13% 13% 13% 13% 13%;
    grid-template-columns: repeat(7, 1fr) 5fr;
}

#screen {
    grid-row: 1;
    grid-column: 1/8;
    text-align: right;
}

#input {
    height: 35%;
    font-size: 300%;
}

#output {
    height: 65%;
    font-size: 600%;
}

#C,
#erase,
#divide,
#sin,
#pow {
    grid-row: 2;
}

#num7,
#num8,
#num9,
#multiply,
#cos,
#fact {
    grid-row: 3;
}

#num4,
#num5,
#num6,
#minus,
#tan,
#sqrt {
    grid-row: 4;
}

#num1,
#num2,
#num3,
#plus,
#log,
#leftbr {
    grid-row: 5;
}

#E,
#num0,
#point,
#equal,
#exp,
#rightbr {
    grid-row: 6;
}

#C,
#num7,
#num4,
#num1,
#E {
    grid-column: 1;
}

#num8,
#num5,
#num2,
#num0 {
    grid-column: 2;
}

#num9,
#num6,
#num3,
#point {
    grid-column: 3;
}

#sin,
#cos,
#tan,
#log,
#exp {
    grid-column: 4;
}

#pow,
#fact,
#sqrt,
#leftbr,
#rightbr {
    grid-column: 5;
}

#x {
    grid-column: 6;
    grid-row: 2/7;
}

#canvas-div {
    grid-row: 1/5;
    grid-column: 8;
}

canvas {
    width: 100%;
    height: 100%;
}

#divide,
#multiply,
#minux,
#plus,
#equal {
    grid-column: 7;
}

#erase {
    grid-column: 2/4;
}

#x-box {
    grid-row: 5/7;
    grid-column: 8;
}

#y-box {
    grid-row: 5/7;
    grid-column: 9;
}