@import url("init.css");
#main {
    padding: 0 1em;
    height: 100%;
    min-height: 30em;
    max-width: 50em;
    background-color: #e8e8e8;
    display: grid;
    grid-template-rows: 35% 13% 13% 13% 13% 13%;
}

#screen {
    grid-row: 1;
    grid-column: 1/8;
    text-align: right;
}

#past-input {
    height: 35%;
    font-size: 300%;
}

#current-input {
    height: 65%;
    font-size: 600%;
}

#CE,
#C,
#erase,
#divide,
#sin,
#pow {
    grid-row: 2;
}

#num7,
#num8,
#num9,
#multiply,
#cos,
#fact {
    grid-row: 3;
}

#num4,
#num5,
#num6,
#minus,
#tan,
#sqrt {
    grid-row: 4;
}

#num1,
#num2,
#num3,
#plus,
#log,
#leftbr,
#left,
#right,
#scalex {
    grid-row: 5;
}

#plusminus,
#num0,
#point,
#equal,
#exp,
#rightbr,
#up,
#down,
#scaley {
    grid-row: 6;
}

#CE,
#num7,
#num4,
#num1,
#plusminus {
    grid-column: 1;
}

#C,
#num8,
#num5,
#num2,
#num0 {
    grid-column: 2;
}

#erase,
#num9,
#num6,
#num3,
#point {
    grid-column: 3;
}

#sin,
#cos,
#tan,
#log,
#exp {
    grid-column: 4;
}

#pow,
#fact,
#sqrt,
#leftbr,
#rightbr {
    grid-column: 5;
}

#x {
    grid-column: 6;
    grid-row: 2/7;
}

#canv {
    grid-row: 1/5;
    grid-column: 8/11;
    margin: 10px;
    width: 100%;
    height: 100%;
}

#draw {
}


#divide,
#multiply,
#minux,
#plus,
#equal {
    grid-column: 7;
}

#left,
#up {
    grid-column: 8;
}

#right,
#down {
    grid-column: 9;
}

#scalex,
#scaley {
    grid-column: 10;
}

div.num {
    background-color: #c8c8c8;
}