@import url("init.css");
body {
    display: grid;
    grid-gap: 2%;
}

#screen {
    grid-row: 1;
    grid-column: 1/5;
    text-align: right;
}

#past-input {
    height: 30%;
    font-size: 300%;
}

#current-input {
    height: 80%;
    font-size: 800%;
}

button {
    font-size: 150%;
    background-color: #eee;
    border: 1;
    border-color: #ccc;
    box-shadow: 0;
}

#CE,
#C,
#erase,
#divide {
    grid-row: 2;
}

#num7,
#num8,
#num9,
#multiply {
    grid-row: 3;
}

#num4,
#num5,
#num6,
#minus {
    grid-row: 4;
}

#num1,
#num2,
#num3,
#plus {
    grid-row: 5;
}

#plusminus,
#num0,
#point,
#equal {
    grid-row: 6;
}

#CE,
#num7,
#num4,
#num1,
#plusminus {
    grid-column: 1;
}

#C,
#num8,
#num5,
#num2,
#num0 {
    grid-column: 2;
}

#erase,
#num9,
#num6,
#num3,
#point {
    grid-column: 3;
}

#divide,
#multiply,
#minux,
#plus,
#equal {
    grid-column: 4;
}