@import url("init.css");
#main {
    padding: 0 1em;
    height: 100%;
    min-height: 30em;
    max-width: 50em;
    background-color: #e8e8e8;
    display: grid;
    grid-template-rows: 35% 13% 13% 13% 13% 13%;
}

#screen {
    grid-row: 1;
    grid-column: 1/5;
    text-align: right;
}

#past-input {
    height: 35%;
    font-size: 300%;
}

#current-input {
    height: 65%;
    font-size: 600%;
}

#CE,
#C,
#erase,
#divide {
    grid-row: 2;
}

#num7,
#num8,
#num9,
#multiply {
    grid-row: 3;
}

#num4,
#num5,
#num6,
#minus {
    grid-row: 4;
}

#num1,
#num2,
#num3,
#plus {
    grid-row: 5;
}

#plusminus,
#num0,
#point,
#equal {
    grid-row: 6;
}

#CE,
#num7,
#num4,
#num1,
#plusminus {
    grid-column: 1;
}

#C,
#num8,
#num5,
#num2,
#num0 {
    grid-column: 2;
}

#erase,
#num9,
#num6,
#num3,
#point {
    grid-column: 3;
}

#divide,
#multiply,
#minux,
#plus,
#equal {
    grid-column: 4;
}