@import url("init.css");
body {
    display: grid;
    background: #eee;
    overflow: hidden;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 45px 1fr;
}

aside {
    grid-column: 1;
    grid-row: 1/3;
}

aside div {
    height: 100%;
}

#leftbar {
    position: relative;
    width: 50px; 
    z-index: 1;
    background: #ddd;
}

#leftbar #button {
    font-size: 150%;
    height: 45px;
    background: #ccc;
}

#leftbar #button:hover {
    transition: background-color 0.2s;
    background-color: purple;
    cursor: pointer;
}

#leftbar #button div.buttonbar {
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: #aaa;
}

#leftbar #button #bar1 {top: 10px; left: 10px}
#leftbar #button #bar2 {top: 20px; left: 10px}
#leftbar #button #bar3 {top: 30px; left: 10px}


#menu {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 100%;
    min-width: 200px;
    transition: transform 1s;
    background: #bbb;
    box-shadow: 5px 0px 5px 0px #999;
}

li {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    cursor: pointer;
}
li:hover {
    background-color: purple;
    transition: background-color 0.2s;
}

main {
    grid-column: 2;
    grid-row: 2;
    flex: 1;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0;
}

#frameTitle {
    font-size:1.8em;
    padding-left: 10px;
    height: 45px;   
    line-height: 45px;
    background-color: #ccc;
    grid-column: 2;
    grid-row: 1;
}

#frameTitle:hover {
    background-color: #ddd;
    transition: background-color 0.2s;
}