@import url("init.css");
@import url("basic.css");
body {
    display: grid;
    grid-template-columns: repeat(3,1fr) 2fr;
    grid-template-rows: 35% repeat(5,1fr);
}

#screen {
    grid-row: 1;
    grid-column: 1/4;
    text-align: right;
}

#input {
    height: 35%;
    font-size: 2em;
    margin: 5px; 
}

#output {
    height: 65%;
    font-size: 4em;
    padding: 10px;
}
#father,
#husband,
#elder_brother,
#elder_sister,
#son {
    grid-column: 1;
}

#mother,
#wife,
#younger_brother,
#younger_sister,
#daughter {
    grid-column: 2;
}

#gender-box,
#C,
#erase,
#equal {
    grid-column: 3;
}

#father,
#mother {
    grid-row: 2;
}

#husband,
#wife {
    grid-row: 3;
}

#elder_brother,
#younger_brother {
    grid-row: 4;
}

#elder_sister,
#younger_sister {
    grid-row: 5;
}

#son,
#daughter {
    grid-row: 6;
}

#gender-box {
    grid-row: 2;
    margin: 5px;
}

#C {
    grid-row: 3;
}

#erase {
    grid-row: 4;
}

#equal {
    grid-row: 5/7;
}

#history {
    grid-row: 1/7;
    grid-column: 4;
}
